extends layout  

block content
    
    h1(id="tabletop") Grocery List
    
    table(id="shopTable")
        thead
            tr
                th
                th Username
                th Item
                th Amount
                th Location
        tbody
            each user in data
                each item in user.groceries
                    tr
                        th
                            input(type="checkbox" value=item)
                        th= user.username
                        th= item.item
                        th= item.amount
                        th= item.location
    div(class="btns")
        a(href="/shop/add" class="link") Add item
        form(method="post" action="/shop/delete" class="hiddenform")
            input(type="hidden" id="hiddendata" name="hiddendata" value="")
            input(class="link" type="submit" value="Delete Selected" onsubmit="getChecked()") 

    script(src="../getSelected.js")
        