html
    head
        link(href='/style.css' rel="stylesheet")
        title #{title}
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
    body
        nav
            each item in menu
                a(class="tabs" href=item.link id=item.id)
                    img(src=item.icon class="navicons")
                    |#{item.title}
        main
            block content 

            //- footer 	&copy; L.Lefiti
                